{% extends 'layout.twig' %}

{% block body %}
	{% verbatim %}
		<div class= "container" id="app">
			<h1 class="mb-3 mt-3">Контакты</h1>

			<form @submit.prevent="createContact">
				<h2 class="h5 mt-3">Добавить контакт</h2>

				<div class="row">
					<div class="col-4">
						<input v-model="name" type="text" name="name" class="form-control" placeholder="Имя">
					</div>
					<div class="col-4">
						<input v-model="phone" type="text" name="phone" class="form-control ms-2" placeholder="Телефон">
					</div>
					<button type="submit" class="btn btn-primary col-auto ms-2">Добавить</button>
					<button @click="clear" type="button" class="btn btn-secondary col-auto ms-2">Очистить</button>
				</div>
			</form>

			<form @submit.prevent="loadContacts">
				<h2 class="h5 mt-5">Найти контакты</h2>

				<div class="row">
					<div class="col-4">
						<input v-model="term" type="text" name="term" class="form-control" placeholder="Поиск">
					</div>
					<button type="submit" class="btn btn-primary col-auto ms-2">Поиск</button>
				</div>
			</form>

			<div class="table-responsive mt-3">
				<table class="table align-middle">
					<thead>
						<tr>
							<th>№</th>
							<th>!!!</th>
							<th>Имя</th>
							<th>Телефон</th>
							<th></th>
						</tr>
					</thead>
					<tbody v-cloak v-for="(contact, index) in contacts" :key="contact.id">
						<tr v-if="!contact.isEditing">
							<td>{{ index + 1 }}</td>
							<td>{{ contact.id }}</td>
							<td>{{ contact.name }}</td>
							<td>{{ contact.phone }}</td>
							<td>
								<i class="bi bi-pencil button me-3" @click="editContact(contact)" title="Редактировать"></i>

								<i class="bi bi-trash3 button" title="Удалить" data-bs-toggle="modal" :data-bs-target="'#deletingModal' + contact.id"></i>

								<div class="modal fade" :id="'deletingModal' + contact.id" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="modalLabel">Подтвердите удаление</h1>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												Контакт (имя: {{ contact.name }}, телефон: {{ contact.phone }}) будет удален из телефонной книги.
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
												<button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="deleteContact(contact)">Удалить</button>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr v-else>
							<td>{{ index + 1 }}</td>
							<td>{{ contact.id }}</td>
							<td><input v-model="contact.newName"></td>
							<td><input v-model="contact.newPhone"></td>
							<td>
								<i class="bi bi-check-circle button me-3" @click="saveContact(contact)" title="Сохранить"></i>
								<i class="bi bi-dash-circle button" @click="cancelEditing(contact)" title="Отменить"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	{% endverbatim %}
{% endblock %}
